/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet');*/
/*@import "themes/green.css";*/
@import "imports/icons.css";
@import "imports/font-sizes.css";

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("../vendor/fonts/google/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono Medium";
    src: url("../vendor/fonts/google/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: "Russo One";
    src: url("../vendor/fonts/google/RussoOne-Regular.ttf");
}

html, body, main {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Russo One', sans-serif;
}

h2, h3 {
    color: var(--primary-dark);
}

p, li, label, strong, textarea, a, .btn {
    font-family: 'Roboto Mono Medium', monospace !important;
    /*font-weight: 500 !important;*/
}

input, span, pre {
    font-family: 'Roboto Mono Regular', monospace;
    /*font-weight: 400 !important;*/
}

strong {
    font-weight: bold;
    color: var(--primary-dark);
}

pre {
    background-color: var(--primary-alpha);
    font-size: 18px;
    padding: 15px;
    white-space: pre-line;
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary-light {
    color: var(--primary-light) !important;
}

.text-primary-alpha {
    color: var(--primary-alpha) !important;
}

.text-primary-dark {
    color: var(--primary-dark) !important;
}

.logger {
    max-height: 300px;
    overflow: auto;
}

.card-logger {
    width: 100%;
    margin-top: -1px;
    margin-left: 0 !important;
    border-radius: 0 0 0.25rem 0.25rem;
    padding-bottom: 5px;
    border: 1px solid grey;
    height: 30vh;
    min-height: 200px !important;
    /*background-color: var(--primary-alpha2);*/
}

.output-textarea {
    width: 100%;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0.25rem;
    white-space: pre-wrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
}

.code-area {
    margin-top: 30px;
}

.stderr {
    color: red;
    background-color: black;
}

#challenge_section {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    max-height: calc(100vh - 80px);
    overflow: auto;
}

#editor_section {
    max-height: calc(100vh - 80px);
    overflow: auto;
    /*background-color: var(--primary-alpha2);*/
}

.code-sample {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
}

.code-sample p {
    font-size: 18px;
}


@media (max-height: 863px) {
    .code-area {
        margin-top: 15px;
    }
}

/* large screens */
@media (min-width: 1800px) {
    #challenge_section {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
}

/* middle screens */
@media (min-width: 1600px) {
    #challenge_section {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

/* tablet view */
@media (max-width: 991px) {
    #challenge_section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
        border-right: none !important;
    }

    #editor_section, #challenge_section {
        max-height: 100% !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }


    div.nav-container {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .code-sample {
        margin-right: 0 !important;
    }
}

/* mobile view */
@media (max-width: 576px) {
    #challenge_section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
    }

    #editor_section, #challenge_section {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

li.nav-item.main-nav {
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

li.nav-item.main-nav:hover {
    background-color: var(--primary-alpha);
    border: 1px solid var(--primary-light);
    border-radius: 0.1rem;
}

li.nav-item.main-nav:hover a.nav-link {
    color: white !important;
}

.dropdown-item:hover {
    background-color: var(--primary);
    color: white !important;
    font-weight: 500;
}

.dropdown-item.active {
    background-color: var(--primary-dark);
}

.dropdown-item.active:hover {
    background-color: var(--primary);
}


/* loader */
.loader {
    border: 16px solid #dfdfdf;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* end loader */

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-dark);
    border-color: var(--primary);
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 0.2rem var(--primary-dark);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary-dark);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-dark);
}

.text-blue {
    color: #007bff !important;
}

#lang-icon {
    color: var(--primary-dark);
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.75) !important;
}

.navbar-brand:hover {
    color: var(--primary-light) !important;
}

footer a:hover {
    color: var(--primary-light) !important;
    text-decoration: none;
    /*color: white !important;*/
}

footer a, .footer-copyright {
    font-family: "Roboto Mono Medium", monospace;
    color: rgba(255, 255, 255, 0.75) !important;
}

footer {
    position: relative;
}