{% extends 'codeapp/base.html' %}
{% load static %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="d-flex p-5 justify-content-center"><h1 class="text-center">Welcome to Code Challenge</h1></div>
        <div class="d-flex justify-content-center">
            <a href="{% url "codeapp:docs-list" %}" class="btn btn-primary">Lets code</a>
        </div>
        {% comment %} <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>{% endcomment %}
    </div>
{% endblock content %}

{% block footer %}
    {% include 'codeapp/includes/footer.html' %}
{% endblock footer %}