{% extends 'codeapp/base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}

{% block extra_js %}
    <!-- Monaco Editor assets -->
    <link href="{% static "codeapp/plugins/monaco/css/monaco.custom.css" %}" type="text/css" media="screen"
          rel="stylesheet">
    <script src="{% static "monaco/loader.js" %}"></script>
    <script src="{% static "codeapp/plugins/monaco/js/monaco.config.js" %}"></script>
    <!-- codechallenge assets -->
    <script src="{% static 'codeapp/js/editor-script.js' %}"></script>
    <script src="{% static 'codeapp/js/websocket.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <section id="challenge_section" class="col-sm-12 col-lg-6">
            <!-- coming soon -->

        </section>
        <section id="code_section" class="col-sm-12 col-lg-6 mt-4">
            <div class="row code-area">
                <form id="code_form" method="post" class="col-sm-12 ml-1 mr-1">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-sm-6 col-lg-3">
                            <label for="lang-picker"><span class="font-weight-bold">Lang</span></label>
                            <select id="lang-picker" class="form-control"></select>
                        </div>
                        <div class="form-group col-sm-6 col-lg-3 offset-lg-2">
                            <label for="theme-picker"><span class="font-weight-bold">Theme</span></label>
                            <select id="theme-picker" class="form-control"></select>
                        </div>
                    </div>
                    <i class="" id="lang-icon" style="font-size: 30px;"></i>
                    {{ form.code }}
                </form>
                <i class="" id="lang-icon" style="font-size: 40px;"></i>
                <div class="col-sm-12 ml-1 mr-1">
                    <div class="card card-logger">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 align-self-center">
                                    <h5 class="font-weight-bold">output</h5>
                                </div>
                                <div id="action_buttons" class="col-sm-6">
                                    <div class="float-right mt-1">
                                        <span data-toggle="modal" data-target="#input-modal">
                                            <button id="input-btn" class="btn btn-outline-primary mr-3"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Set input"><i class="fas fa-file-import"></i></button>
                                        </span>
                                        <button id="run-btn" class="btn btn-outline-primary mr-4" data-toggle="tooltip"
                                                data-placement="top" title="Run"><i class="fas fa-play"></i></button>
                                        <button id="submit-btn" class="btn btn-outline-success">submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body overflow-auto logger">
                            <div id="log-info" class="m-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal input data -->
    <div class="modal fade" id="input-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Config input</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-3 text-muted">One entry per line</p>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="input-textarea" style="height: 15vh;"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                    <button id="save-run" type="button" class="btn btn-primary" data-dismiss="modal">
                        Save and run
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- render a script with editor json encoded  -->
    {{ form.code.auto_id|json_script:"editor_id" }}
    <!-- list of langs encoded as json script  -->
    {{ langs|json_script:"langs" }}

{% endblock %}



