{% extends "codeapp/base.html" %}

{% block content %}

    <div class="d-flex justify-content-center p-5"><h1>Test Page</h1></div>
{% endblock %}
{% block extra_js %}
    <script>
        const ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://";
        const path = ws_scheme + window.location.host + '/ws/codeapp/test/';
        var websocket;


        $(document).ready(function () {
            connectWebSocket();
        });

        function connectWebSocket() {
            websocket = new WebSocket(path);

            websocket.onopen = function (e) {
                console.log("new connection");
            };

            websocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                console.log('Data received', data);
            };

            websocket.onclose = function (e) {
                console.error('ws disconnected');
                setTimeout(function () {
                    connectWebSocket();
                }, 2000)
            }
        }
    </script>
{% endblock extra_js %}