<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-lg-4 p-0 mt-2" href="{% url 'codeapp:home' %}"><i
            class="fas fa-laptop-code text-primary-light" style="font-size: 25px"></i> Codechallenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="container nav-container">
            <ul class="navbar-nav mr-auto p-1">
                <li class="nav-item main-nav">
                    <a class="nav-link" href="{% url "codeapp:home" %}">Home</a>
                </li>
                <li class="nav-item dropdown main-nav">
                    <a class="nav-link dropdown-toggle" id="dropDownDoc" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" href="#">Docs</a>
                    <div class="dropdown-menu" aria-labelledby="dropDownDoc">
                        {% for lang in langs %}
                            <a class="dropdown-item"
                               href="{% url "codeapp:docs-detail" lang.value %}">{{ lang.display }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown main-nav">
                    <a class="nav-link dropdown-toggle" id="dropDownUITheme" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" href="#">Theme</a>
                    <div id="ui-theme-picker" class="dropdown-menu" aria-labelledby="dropDownUITheme">
                        {% comment %}<a class="dropdown-item" href=""></a>{% endcomment %}
                    </div>
                </li>
            </ul>
        </div>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>

</nav>